* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1 {
    text-align: center;
    margin: 20px;
    font-size: 30px
}
.add {
    text-align: center;
}
.add input {
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    width: 400px;
}
.add button {
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
}
.task-list {
    background-color: antiquewhite;
    margin: 20px;
    border-radius: 10px;
}
.single-task {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px;
    font-size: 20px;
    border-bottom: 1px solid gray;
}
.task-done {
    text-decoration: line-through;
}